/*
https://lenguajecss.com/css/efectos/filtros-css/
*/

:root{
    --blue-saphire: #28536B;
    --rosy-brown: #C2948A;
    --pewter-blue: #7ea8be;
    --nyanza: #eafdcf;
    --khaki-web: #bbb193;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--nyanza);
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}
header{
    height: 3.5rem;
    /* background-color: var(--celadeon); */
    background-color: var(--blue-saphire);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h1{
    color: white;
    padding-left: 15px;
    font-family: 700;
}

header a .instagram{
    width: 15px;
    padding-right: 10px;
    filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(7deg) brightness(107%) contrast(101%);
}

header a .twitter{
    width: 17px;
    padding-right: 2px;
    filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(7deg) brightness(107%) contrast(101%);
}

header a .facebook{
    width: 20px;
    padding-right: 10px;
    filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(7deg) brightness(107%) contrast(101%);
}

main{
    display: flex;
    flex-direction: column;
}
h2{
    text-align: center;
    margin-top: 60px;
    color: var(--blue-saphire);
    font-size: 2.2rem;
    font-weight: 700;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background-color: var(--pewter-blue);
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 12px;
}
.button a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}


.grid-images{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: 1fr;
    gap: 15px;
    margin: 0 auto;
    margin-top: 65px;
}
.item{
    width: 100px;
    height: 100px;
    object-fit: cover;
}






/*Footer*/

footer{
    height: 50px;
    width: 100%;
    background-color: var(--blue-saphire);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}
footer .title{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    padding-left: 15px;
}
footer .terminos{
    color: white;
    margin-right: 15px;
    margin-left: 92px;
}