:root{
    --blue-saphire: #28536B;
    --rosy-brown: #C2948A;
    --pewter-blue: #7ea8be;
    --nyanza: #eafdcf;
    --khaki-web: #bbb193;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--nyanza);
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

/*HEADER*/
header{
    height: 3.5rem;
    /* background-color: var(--celadeon); */
    background-color: var(--blue-saphire);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h1 a{
    color: white;
    padding-left: 15px;
    font-family: 700;
    text-decoration: none;
}

header a .instagram{
    width: 15px;
    padding-right: 10px;
    filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(7deg) brightness(107%) contrast(101%);
}

header a .twitter{
    width: 17px;
    padding-right: 2px;
    filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(7deg) brightness(107%) contrast(101%);
}

header a .facebook{
    width: 20px;
    padding-right: 10px;
    filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(7deg) brightness(107%) contrast(101%);
}

/*MAIN*/
main img{
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin:  auto;
    margin-top: 60px;
}

main p{
    display: block;
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 30px;
    text-align: center;
}
main p span{
    font-size: 1.6rem;
    padding-left: 5px;
    color: rgb(0, 131, 0);
}
main p .precio{
    color: black;
}

main .description{
    font-size: 1.2rem;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    border-radius: 5px;
    background-color: var(--blue-saphire);
    width: 120px;
    margin: 0 auto;
    margin-top: 30px;
}
.button a{
    color: white;
    text-decoration: none;
}


/*FOOTER*/
footer{
    height: 50px;
    width: 100%;
    background-color: var(--blue-saphire);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}
footer .title{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    padding-left: 15px;
}
footer .terminos{
    color: white;
    margin-right: 15px;
    margin-left: 92px;
}